* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#design {
        height: 400px;
        width: 1200px;
        border: 1px solid black;
        display: block;
        margin-left: 50px;
        object-fit: cover;
    }
h1 {
    padding-left: 50px;
    padding-top: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    border: 2px solid black;
    text-align: center;
    width: 1200px;
    margin-left: 50px;
    margin-bottom: 30px;
    
}
nav{
    min-height: 6vh;
    background-color: white;
    display: flex;
    justify-content: flex-end;

    }
nav a{
    text-decoration: none;
    background-color:blue;
    color:white;
    border: 1px solid black;
    height: 25px;
    width: 120px;
    display: inline-block;
    text-align: center;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.562);
    }
.active {
    background-color: green;
    color: white;
    border: 1px solid black;
    display: inline-block;
}


#logo{
    height: 220px;
    position: absolute;
    top:570px;
    left: 90px;
}
main p{
    font-size:large;
    padding-top: 10px;
    margin-left: 50px;
}

main h3{
    padding-top: 10px;
    margin-left: 400px;
}

section {
    margin: 60px;
    height: 90px;
    width: 900px;
    margin-left: 300px;
    font-size:large;
}

footer p{
    margin-top: 130px;
    margin-left: 300px;
    font-size:large;
}
.titleinf{
    text-align: flex;
    justify-content: space-between;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}


table{
    text-align: justify;
    padding: 1rem;
}
td{
    padding: 1rem;
    
}
ol{
    display: flex;    
    flex-direction: column;
    align-items: start;
}
ul{
    width: 70%;
}

.titlesec{
    border: 2px solid black;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.list{
    width: 90%;
    padding: 1.5rem;
    display: flex;
    padding-left: 90px;
    flex-direction: column;
    align-items: stretch;
}
.formCont{
    text-align: center;
}


.sublist{
    
    margin: 5%;
}
.titleinf{
    margin-left:500px;
}
.prime p{
    margin-left: 400px;
    margin-top: 20px;
}
