* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:honeydew;
}
#design {
  height: 400px;
  width: 1200px;
  border: 1px solid black;
  display: block;
  margin-left: 50px;
  object-fit: cover;
}

header {
  min-height: 40vh;
}
main {
  min-height: 45vh;
}
footer {
  min-height: 15vh;
}
h1 {
  padding-left: 50px;
  padding-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  border: 1.5px solid black;
  text-align: center;
  width: 1200px;
  margin-left: 50px;
  margin-bottom: 30px;
}
nav {
   width: 587px;
   display: flex;
   flex-wrap: wrap;
   justify-content:flex-start;
   gap: 2px;
   position: absolute;
   top: 55px;
   left: 46%;
}
nav a {
  width: 12rem;
  height:2rem;
  text-decoration: none;
  font-size: larger;
  align-items: center;
  background-color: blue;
  color: white;
  border: 1px solid black;
  text-align:center;
  padding-top: 3px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.562);
}
.active {
  background-color: green;
  color: white;
  border: 1px solid black;
  display: inline-block;
}

#logo {
  height: 220px;
  position: absolute;
  top: 570px;
  left: 90px;
}
main p {
  font-size: large;
  padding-top: 10px;
  margin-left: 50px;
}

main h3 {
  padding-top: 10px;
  margin-left: 400px;
}

section {
  margin: 60px;
  height: 90px;
  width: 900px;
  margin-left: 300px;
  font-size: large;
}

footer p {
  margin-top: 130px;
  margin-left: 300px;
  font-size: large;
}

th{
    text-align: center;
    padding: 5px;
}


table {
    border: 1px solid black;
    text-align: justify;
    padding: 0.5rem;
    
}
td {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
}
ol {
  display: flex;
  flex-direction: column;
  align-items:stretch;
}

dt{
    margin-left: 50%;
    margin-top: 40px;
}
dd {
    margin-left: 120px;
    width: 80%;
}
ul{
    list-style-type: circle;
    width: 80%;
    margin-left: 120px;
}

.titlesec {
  border: 1px solid black;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 30px;
}
.list {
  margin-top: 10px;
  width: 93%;
  padding-left: 90px;
 }

 .conjunto{
  
    gap: 1rem;
    margin-left: 180px;
    margin-right:70px;
 }
 

.sublist {
  margin: 5%;
}
.titleinf {
  margin-left: 450px;
  margin-bottom: 20px;
}
.prime p {
  margin-left: 400px;
  margin-top: 20px;
}
.contactos{
    display: flex;
    flex-direction: column;
}
address{
    display: flex;
    justify-content: space-evenly;
}
form{
    border: 2px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 10% 0 10%;
    justify-content: space-evenly;
   padding-right: 100px;   
   border: none;
}

fieldset{
     
    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: 20%;
}

legend{
    padding: 0.2rem;
}

.check-radio{
    list-style: none;
}

.primary, .second, .thirth{
    display: flex;
    width: 500px;
}

input[type="submit"]{
        display: inline-block;
        padding: 15px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: black;
        border-radius: 15px;
        margin-left: 25%;
}

input[type="submit"]:hover {
    background-color: rgb(171, 239, 241) ;
}

